@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur&family=Imprima&family=Lexend&display=swap');

/* Fonts */
.font-ubuntu{
    font-family: 'Ubuntu', sans-serif;
}
.font-blinker{
    font-family: 'Blinker', sans-serif;
}

.font-hind{
    font-family: 'Hind Guntur', sans-serif;
}
.font-imprima{
    font-family: 'Imprima', sans-serif;
}
.font-lexend{
    font-family: 'Lexend', sans-serif;
}



/* Texts */
.base-text-color{
    @apply text-trueGray-600;
}

/* Inputs */
.simple-input{
    @apply  rounded-xl bg-white outline-none;
}

/* Buttons */
.simple-dimension-btn{
    @apply py-1.5  rounded-2xl w-44;
}

.simple-style-btn{
    @apply bg-trueGray-700 text-white;
}
.green-style-btn{
    @apply text-teal-800 bg-teal-200;
}


